<%- include('partials/head')%>
      <%- include('partials/header')%>
      <div class="center-container-vision">
        <div class="img-container">
            <img src="/images/IMG-proy.jpeg" alt="">
          </div>
        <div class="center-container-vision-text">
            <h2 class="center-container-vision-text-subtitle">Ultimos proyectos</h2>
              <div class="center-container-proy">
                <div class="center-container-proy-one"> 
                  <img class="center-container-proy-one-img" src="/images/img-obra1.jpeg" alt="">
                  <p class="center-container-proy-one-p"><strong>AMX Argentina</strong></p>
                  <p class="center-container-proy-one-p">Tramo Cordoba - Villa Totoral, tendido de fibra optica de 108km. Realizacion de obras intermedias para reparacion de ductos.</p>
                </div>
                <div class="center-container-proy-one"> 
                  <img class="center-container-proy-one-img" src="/images/img-obra2.jpeg" alt="">
                  <p class="center-container-proy-one-p"><strong>AMX Argentina</strong></p>
                  <p class="center-container-proy-one-p">Tramo Ezeiza - Cañuelas por ruta 205. Canalizacion, tendido y empalmes de fibra optica.</p>
                </div>
                <div class="center-container-proy-one"> 
                  <img class="center-container-proy-one-img" src="/images/img-obra6.jpeg" alt="">
                  <p class="center-container-proy-one-p"><strong>Transportadora gas del sur</strong></p>
                  <p class="center-container-proy-one-p">Planta Compresora San Julián, base PK 365 del Gasoducto San Martín de TGS, provisión de 4 Amoladores y 3 soldadores calificados de acuerdo a los requerimientos de API 1104</p>
                </div>
                <div class="center-container-proy-one"> 
                  <img class="center-container-proy-one-img" src="/images/img-obra3.jpeg" alt="">
                  <p class="center-container-proy-one-p"><strong>AMX Argentina</strong></p>
                  <p class="center-container-proy-one-p">Tramo Luque - Las Varillas, 75.8 km, canalizacion y tendido interurbano. Realizacion de tramos urbanos intermedios, Sacanta, Calchin y El Arañado</p>
                </div>
                <div class="center-container-proy-one"> 
                  <img class="center-container-proy-one-img" src="/images/img-obra4.jpeg" alt="">
                  <p class="center-container-proy-one-p"><strong>Silica Networks</strong></p>
                  <p class="center-container-proy-one-p">Tramo Rio Mayo - Hito 45, 123,00 km colocacion de tritubo, camaras, tendido de FO, empalmes y mediciones.</p>
                </div>
                <div class="center-container-proy-one"> 
                  <img class="center-container-proy-one-img" src="/images/img-obra5.jpeg" alt="">
                  <p class="center-container-proy-one-p"><strong>Silica Networks</strong></p>
                  <p class="center-container-proy-one-p">Tramo Sarmiento - Pampa del Castillo, 110,00 km colocacion de bitubo, camaras, tendido de FO, empalmes y mediciones.</p>
                </div>
              </div>
        </div>
      </div>
<%- include('partials/footer')%>