<%- include('partials/head')%>
      <%- include('partials/userHeader')%>
      <div class="center-container">
            <div class="center-container-users">
                  <div class="center-container-title">
                        <h1>¡Hola <%=usuario%>!</h1>
                        <h2>Selecciona en el menú por donde queres comenzar</h2>
                  </div>
            </div>
      </div>
       

<%- include('partials/userFooter')%>