<%- include('partials/head')%>
      <%- include('partials/header')%>
      <div class="center-container-vision">
        <div class="img-container">
            <img src="/images/IMG-vision.jpeg" alt="">
          </div>
        <div class="center-container-vision-text">
            <h2 class="center-container-vision-text-subtitle">Visión</h2>
            <p class="center-container-vision-text-p">
                Tener una organización que de espacio de crecimiento a las personas que la conforman, para lograr tanto metas individuales como las metas finales de la empresa.
                Asignamos especial importancia a la calidad de nuestros servicios de forma que nuestros clientes queden complacidos de forma tal de ganarnos su lealtad y preferencia.                
            </p>
            <h2 class="center-container-vision-text-subtitle">Misión</h2>
            <p class="center-container-vision-text-p">
                Ser una empresa de bajo costo, pero excelente calidad de servicio, de manera de asegurar la rentabilidad de nuestros negocios y los de aquellos que nos contratan.
                Tener una actitud proactiva en la generación de valor en cada etapa de servicios, desde que se inicia el contacto hasta que culmina la prestación del servicio.	
            </p>
        </div>
      </div>
<%- include('partials/footer')%>