    <body>
        <main class="main-container">
            <header class="main-header">
                <nav class="main-nav">
                    <div class="main-title">
                        <img class="title-img" src="/images/img-logo.png" alt="">
                        <p class="title-subtitle">INGEME S.A.<p></p>
                    </div>                    
                    <a class="main-nav-link" href="/#">
                        <div class="main-nav-link-home">
                            <p class="main-nav-link-home-text">home</p>
                        </div>
                    </a>
                    <a class="main-nav-link" href="#">
                        <div class="main-nav-link-vision">
                            <p class="main-nav-link-vision-text">visión</p>
                        </div>
                    </a>
                    <a class="main-nav-link" href="#">
                        <div class="main-nav-link-proy">
                            <p class="main-nav-link-proy-text">proyectos</p>
                        </div>
                    </a>
                    <a class="main-nav-link" href="#">
                        <div class="main-nav-link-contact">
                            <p class="main-nav-link-contact-text">contacto</p>
                        </div>
                    </a>
                    <a class="main-nav-link" href="/login">
                        <div class="main-nav-link-login">
                            <p class="main-nav-link-login-text">login</p>
                        </div>
                    </a>
                </nav>
            </header>
