<body>
    <main class="main-container">
        <header class="main-header-user">
            <nav class="main-nav-user">
                <div class="main-title-user">
                    <a class="main-nav-link-user" href="/home">
                    <p class="title-subtitle">INGEME S.A.</p>
                    </a>
                </div>                    
                <a class="main-nav-link-user" href="/users/obras">
                    <div class="main-nav-link-obra-user">
                        <p class="main-nav-link-home-text-user">obras</p>
                    </div>
                </a>
                <a class="main-nav-link-user" href="/users/#">
                    <div class="main-nav-link-doc-user">
                        <p class="main-nav-link-vision-text-user">documentación</p>
                    </div>
                </a>
                <a class="main-nav-link-user" href="/users/#">
                    <div class="main-nav-link-equipos-user">
                        <p class="main-nav-link-proy-text-user">equipos</p>
                    </div>
                </a>
                <a class="main-nav-link-user" href="/users/#">
                    <div class="main-nav-link-mant-user">
                        <p class="main-nav-link-contact-text-user">mantenimiento</p>
                    </div>
                </a>
            </nav>
        </header>